{
    "env": {
      "es6": true,
      "node": true
    },
    "parser": "@typescript-eslint/parser",
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "rules": {
      "quotes": ["error", "single"],
      "max-len": ["error", {
        "code": 130
      }],
      "indent": ["error", 2],
      "no-console": ["warn", {
        "allow": ["error", "info", "warn"]
      }],
      "semi": "error",
      "@typescript-eslint/no-unused-vars": "error",
      "@typescript-eslint/ban-ts-comment": "warn",
      "@typescript-eslint/naming-convention": [
        "error",
        {
          "selector": "interface",
          "format": ["PascalCase"],
          "custom": {
            "regex": "^I[A-Z]",
            "match": true
          }
        }
      ],
      "@typescript-eslint/explicit-function-return-type": "off"
    },
    "settings": {
      "import/resolver": {
        // @xxx load tsconfig.json to eslint...
        "typescript": {}
      }
    }
  }
  